<!-- Modal -->
<div class="modal fade" id="incomeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New income</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="newIncomeForm" (ngSubmit)="AddUserIncome()">
            <div class="modal-body">
              <label >Income</label>
                <input formControlName="income" class="form-control"
                placeholder="4500.90" required/>
                <span style="color:red" *ngIf="submitted && newIncomeForm.controls['income'].errors">Income is required</span>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success" >Add</button>
            </div>
        </form>
    </div>
  </div>
</div>
