<app-add-expense [listId]="currentId"></app-add-expense>
<app-add-income [listId]="currentId"></app-add-income>
<app-add-user-monthly-goals [listId]="currentId"></app-add-user-monthly-goals>
<app-delete-list [listId]="currentId"></app-delete-list>

<div class="MainWindow-View"> 
    <div class="row justify-content-center" style="margin-left: 0%; width: 100%;">
        <div class="MonthlySummary">
            <h2>Summary</h2>
            <div class="MonthlySummary-A">
                <h3>{{currMonth}}</h3>
                <div class="MonthlySummary-B">
                    <canvas id="PieChartSummary"></canvas>
                </div>
            </div>  
            <div class="MonthlySummary-C" style="text-align: left;">
                <h4>Income: {{expensesList?.incomes}}</h4>
                <h4>Outgoings: - {{expensesList?.outgoings}}</h4>
                <h4 id="summary">Summary: {{expensesList?.monthlyResult}}</h4>
            </div> 
        </div>
        <div class="MonthlySummary">
            <h2>Current month expenses</h2>
            <div class="MonthlySummary-A">
                <h3>{{currMonth}}</h3>
                <div class="MonthlySummary-Cat">
                    <canvas id="MonthExpensesChart"></canvas>
                </div>   
            </div>         
        </div>
        <div class="MonthlySummary">
            <h2>Current week expenses</h2>
            <div class="MonthlySummary-A">
                <h3>{{currWeek}}</h3>
                <div class="MonthlySummary-Week">
                    <canvas id="WeekExpensesChart"></canvas>
                </div> 
            </div>  
            <div class="MonthlySummary-C">
                <h4>Total expenses in this week: {{weeklyExpenses.toFixed(2)}} PLN</h4>
            </div> 
        </div>
        <div class="MonthlySummary" id="chartHeight">
            <h2>Monthly goals</h2>
            <div class="MonthlySummary-A" >   
                <h3>{{currMonth}}</h3>            
                <div class="MonthlySummary-Cat">
                    <div id="chart" style="margin-left:2%; width: 93%;">
                    </div>
                    <!-- <div class="text-center" style="height: 100px !important;" id="goalCharts"> 
                    </div> -->
                </div>
            </div>  
        </div>
    </div> 
</div>

