.MonthlySummary {
  border: 2px solid black;
  width: 35%;
  padding: 1%;
  margin-top: 1%;
  margin-left: 1%;

  max-width: 1300px;
  min-width: 750px;
}

.MonthlySummary .MonthlySummary-A {
  text-align: left;
  vertical-align: top;
}

.MonthlySummary-C {
  text-align: center;
  padding-top: 5%;
  margin-bottom: -1%;
}

.MonthlySummary-A .MonthlySummary-B {
  margin-left: 25%;
  padding-top: 3%;
  vertical-align: top;
  width: 60%;

  max-width: 500px;
}

.MonthlySummary-A .MonthlySummary-Cat {
  padding-left: -1%;
  padding-top: 3%;
  width: 100%;

  max-width: 1100px;
}

.MonthlySummary-A .MonthlySummary-Week {
  padding-left: 2%;
  padding-top: 3%;
  margin-left: 25%;
  width: 55%;

  max-width: 500px;
}

#bar-description-percentage{
  margin-top: 0.1%;
  float:left;
  width: 100%;
  text-align: center;
  font-size: 1.1rem
}

#bar-description-left{
  text-align: left;
}

#bar-description-center{
  text-align: center;
}

#bar-description-right{
  text-align: right;
}

.category{
  margin-left: 2.5%;
  margin-top: 10%;
  font-size: 1.4rem;
}

#chart :last-child > hr {
  display: none;
}

/* @media screen and (max-width: 2500px) {
  .container{
    display: inline-block;
    overflow: hidden;
    flex-direction: row;
   flex-wrap:calc();
  }
} 
*/