<app-add-expense [listId]="currentId" (getlistComponent)="UpdateCharts($event)"></app-add-expense>
<app-add-income [listId]="currentId" (getlistComponent)="UpdateCharts($event)"></app-add-income>
<app-add-user-monthly-goals [listId]="currentId" (getlistComponent)="UpdateCharts($event)"></app-add-user-monthly-goals>
<app-delete-list [listId]="currentId"></app-delete-list>

<div class="MainWindow-View"> 
    <div class="row justify-content-center" style="margin-left: 0%; width: 100%;">
        <div class="MonthlySummary" style="min-height: 450px;">
            <h2>Incomes and outgoings summary</h2>
            <div class="MonthlySummary-A" style="padding-bottom: 3%; height: 75%;" id="PieChartSummaryDiv">
                <h3>{{currMonth}}</h3>
                <div class="MonthlySummary-B">
                    <canvas id="PieChartSummary"></canvas>
                </div>
                <div id="noDataPieChartSummary" style="display: none; font-size: 3rem; text-align: center;">Data not provided :( </div>
            </div>  
            <div class="MonthlySummary-C" style="text-align: left;" >
                <h4>Income: {{expensesList?.incomes}} PLN</h4>
                <h4>Outgoings: - {{expensesList?.outgoings}} PLN</h4>
                <h4 id="summary">Summary: {{expensesList?.monthlyResult}} PLN</h4>
            </div> 
        </div>
        <div class="MonthlySummary" style="min-height: 450px;"> 
            <h2>Annual summary {{curr.getFullYear()}}</h2>
            <div class="MonthlySummary-A" style="padding-bottom: 3%; height: 75%;" id="AnnualSummaryChartDiv">
                <div class="MonthlySummary-Cat" style="max-width: 2430px;">
                    <canvas id="AnnualSummaryChart" ></canvas> 
                </div> 
                <div id="noDataAnnualSummaryChart" style="display: none; font-size: 3rem; text-align: center;">Data not provided :( </div>
            </div>  
            <div class="MonthlySummary-C" style="text-align: left;">
                <h4>Total year incomes: {{expensesList?.totalYearIncomes}} PLN</h4>
                <h4>Total year outgoings: - {{expensesList?.totalYearOutgoings}} PLN</h4>
                <h4 id="summary">Summary: {{(expensesList?.totalYearIncomes - expensesList?.totalYearOutgoings).toFixed(2)}} PLN</h4>
            </div> 
        </div>
    </div>

    <div class="row justify-content-center" style="margin-left: 0%; width: 100%;">
        <div class="MonthlySummary" style="width: 71%; max-width: 2640px; display: inline;">
            <h2>Monthly expenses summary</h2>
            <div style="float: right">
                <form [formGroup]="SelectMonthSummaryForm">
                    <select formControlName="month" (change)="GetCurrentMonth()" id="monthChosenForGoal" class="form-select" aria-label="Default select example">
                        <option *ngFor="let type of months| keyvalue" [ngValue]="+type.key">{{type.value}}</option>
                      </select>
                </form>
            </div>
            <div class="MonthlySummary-A">
                <h3>{{currMonth}}</h3>
                <h4>Compared to previous month: {{prevMonth.toFixed(2)}} PLN
                    <svg *ngIf="!isBetterMonth" xmlns="http://www.w3.org/2000/svg" width="28" height="27" fill="red" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                      </svg>

                      <svg *ngIf="isBetterMonth" xmlns="http://www.w3.org/2000/svg" width="28" height="27" fill="rgb(119, 206, 0)" class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z"/>
                      </svg>
                </h4>
                <div class="MonthlySummary-Cat">
                    <canvas id="MonthExpensesChart" style="max-height: 670px;"></canvas>
                    <div id="noDataMonthExpensesChart" style="display: none; font-size: 3rem; text-align: center; margin-top: -10%;">Data not provided :( </div>
                </div>   
            </div>         
        </div>
    </div>

    <div class="row justify-content-center" style="margin-left: 0%; width: 100%;">
        <div class="MonthlySummary">
            <h2>Weekly expenses summary</h2>
            <div class="MonthlySummary-A">
                <h3>{{currWeek}}</h3>
                <div class="MonthlySummary-Week">
                    <canvas id="WeekExpensesChart"></canvas>
                    <div id="noDataWeekExpensesChart" style="display: none; font-size: 3rem; text-align: center; margin-top: -30%;">Data not provided :( </div>
                </div> 
            </div>  
            <div class="MonthlySummary-C">
                <h4>Total expenses in this week: {{weeklyExpenses.toFixed(2)}} PLN</h4>
            </div> 
        </div>
        <div class="MonthlySummary" id="chartHeight">
            <h2>Monthly goals</h2>
            <div class="MonthlySummary-A" >   
                <h3>{{currMonth}}</h3>            
                <div class="MonthlySummary-Cat">
                    <div id="chart" style="margin-left:2%; width: 93%;">
                    </div>
                    <div id="noDataMonthlyGoals" style="display: none; font-size: 3rem; text-align: center;">Data not provided :( </div>
                </div>
            </div>  
        </div>
    </div> 
</div>

