<div class="MainWindow-View" >
    <h3 style="padding-top: 10px;">New expenses list</h3>
    <hr/>
    <form [formGroup]="newExpensesList">
        <div style="width: 15%;">
            <label style="font-size: 20px;">List name</label>
            <input formControlName="name" class="form-control" placeholder="Seeder" required/>
        </div>
        <button style="margin-top: 0.2%; width: 285px;" class="btn btn-success" (click)="AddExpensesList()">Save</button>
    </form>
 <br/> <br/>
 <div style="color:rgb(90, 204, 23);">
    Generate random by naming your list with "seeder".
 </div>
</div>
