<app-navbar-home></app-navbar-home>
 
<router-outlet></router-outlet>

<app-get-lists></app-get-lists>

<footer id="footer">
  <div class="text-center p-3" style="background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(89,4,69,1) 0%, rgba(75,3,143,1) 100%); color: rgb(110, 109, 109);">
    <h6>Your expenses helper</h6>
    More projects
    <a style="color: rgb(90, 89, 89);" href="https://github.com/PRogaczewski?tab=repositories">github.com</a>
  </div>
</footer>
