<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">DELETE PAGE</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div>
            <div class="modal-body">
              <h4>Are youe sure to delete this list?</h4>
              <h4>This action is irreversible!</h4>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger" (click)="DeleteExpenseList()">Delete</button>
              <button #closeModal type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>
  </div>
</div>
